body {
    font-family: Inter,Calibri,system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    background-color: #222831;
    color: white;
}

.name-list {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: #393E46 !important;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

    footer div {
        width: auto !important;
    }

header {
    width: 100%;
    position: fixed;
    top: 0px;
}

nav {
    margin: 0px !important;
    background-color: #393E46;
}

.navbar-brand {
    color: #00ADB5 !important;
    padding-left: 20px;
    font-size: 30px;
}

.navbar-nav {
    justify-content: flex-end;
}

nav ul li {
    margin-left: 10px;
    margin-right: 10px;
}

.hover-button {
    transition: 0.2s;
    color: darkgrey !important;
    font-size: 20px;
}

    .hover-button:hover {
        color: #00ADB5 !important;
        transform: scale(1.1);
        transition: 0.2s;
    }

.active {
    color: #00ADB5 !important;
}

.main-container {
    height: 100%;
    margin: auto;
}

    .main-container main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .main-container main h1 {
            font-weight: 700;
            font-size: 70px;
        }

.header h1 {
    font-weight: 700;
    font-size: 70px;
    margin: 10px 0px;
}

.header p {
    font-size: 20px;
}

.header ul {
    margin: 50px 0px !important;
    display: flex;
    justify-content: center;
}

    .header ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 20px;
        width: 250px;
        height: 150px;
        border: 2px solid white;
        border-radius: 20px;
        font-weight: 700;
        font-size: 18px;
        transition: 0.5s;
    }

        .header ul li:hover {
            background-color: #00ADB5;
            transition: 0.5s;
        }

.regular-button {
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
    margin: 0px 10px;
    background-color: #00ADB5;
    color: white;
    text-decoration: none;
    transition: 0.2s;
    font-size: 20px;
}

    .regular-button:hover {
        transform: scale(1.1);
        transition: 0.2s;
        color: white;
    }

.tiny-button {
    background-color: #00ADB5;
    border-radius: 5px;
    padding: 7px;
    color: white;
    text-decoration: none;
}

.tiny-button:hover {
    color: white;
}

.red {
    background-color: red;
}

.overview-table {
    background-color: #393E46;
    color: white;
}

.top-list {
    border-bottom: 10px solid #222831;
}

th a {
    color: #00ADB5;
}

.input-margin {
    margin: 10px;
}

.form-helper-large {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-group {
    width: 100%;
}

.wrapper {
    width: 500px;
}

.wrapper-large {
    width: 1000px;
}

.width-helper {
    width: 50%;
}

.form-helper {
    flex-direction: row;
}

.form-floating {
    color: black;
}