@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center header">
    <h1 class="display-4">Welcome to Garage 3.0!</h1>
    <p>This is a group exercise to learn ASP.NET Core MVC.</p>
    <ul class="name-list">
        <li>Alexander Gustafsson</li>
        <li>Dennis Lundström</li>
        <li>Judy Green C A</li>
        <li>Reza Zaman</li>
    </ul>
    <a href="@Url.Action("Park", "ParkedVehicles")" class="regular-button">Park New Vehicle</a>
    <a href="@Url.Action("Overview", "ParkedVehicles")" class="regular-button">Garage</a>
</div>